body{

    background-image: linear-gradient(45deg, rgb(255, 0, 106), red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    }

    .corpo{
    background-color: black;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 190px;
    padding: 10px;
    transform: translate(-50%, -50%);

    }

    .btn{
        background-image: linear-gradient(45deg, red, rgb(255, 0, 106));
        font-size: 22px;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        padding: 3px;
        margin: 15%;
        margin-bottom: 5%;
        border: 1px solid crimson;
    }

    .btn2{
        background-image: linear-gradient(45deg, red, rgb(255, 0, 106));
        font-size: 22px;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        padding: 3px;
        margin: 15%;
        margin-bottom: 5%;
        border: 1px solid rgb(0, 0, 0);
        position: fixed;
        left: 70%;
        top: 75%;
        display: none;
    }



    p{
        color: rgb(0, 0, 0);
        border: 1px solid white;
        background-image: linear-gradient(45deg, red, rgb(255, 0, 106));
        font-size: 32px;
        position: initial;
        text-align: right;
        border-radius: 5px;
        margin: 10px;
        padding: 22px;
        overflow: hidden;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




    }

    button:hover{

        animation: avisa 1s ;

    }

    button:active{
        transform: translateY(4px);

    }

    @keyframes avisa {
        0% {
        color: rgb(255, 255, 255);
        border: 1px solid white;
        }
        100% {
        color: rgb(0, 0, 0);
        }
        }

        @media only screen and (max-width: 767px) {

       .btn2{
        display: block;
       }

        }


