*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    transition: all 1s;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://pbs.twimg.com/media/FjVXDO4WYAAyhQP.jpg");
}

#cidade{
    text-align: center;
    border: none;
    border-radius: 15px;
}

#placa{
    border-radius: 45px;
    border: 1px solid white;
    height: 35%;
    width: 20%;
    text-align: center;
    padding: 15px;
    position: relative;
    left: 50%;
    top: 25vh;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}

button{
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#temps{
    display: inline-block;
}

p{
    margin: 7px;
    color: white;
}

h3{
    margin: 7px;
    color: white; 
}

option{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.btn2{
    background-image: linear-gradient(45deg, red, rgb(0, 0, 0));
    font-size: 22px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    padding: 3px;
    margin: 15%;
    margin-bottom: 5%;
    border: 1px solid rgb(0, 0, 0);
    position: fixed;
    left: 78%;
    top: 61%;
    display: none;
}

@media only screen and (max-width: 767px) {

    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("https://i.pinimg.com/564x/ae/45/3f/ae453f57700a5e21140e4fe1aab1e5b8.jpg");
    }

    #placa{
        border-radius: 45px;
        border: 1px solid white;
        height: 55%;
        width: 60%;
        text-align: center;
        padding: 15px;
        position: relative;
        left: 50%;
        top: 25vh;
        transform: translate(-50%);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .btn2{
        background-image: linear-gradient(45deg, red, rgb(0, 0, 0));
        font-size: 22px;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        padding: 3px;
        margin: 15%;
        margin-bottom: 5%;
        border: 1px solid rgb(0, 0, 0);
        position: fixed;
        left: 70%;
        top: 75%;
    }

}

input::-we{
    display: none;
}

input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

datalist{
    display: none;
}