body{
    background-color: black;
}

.icones{
    text-align: center;
    display: block;
    top: 70%;
 position: relative;
}

.imagem{
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 10px;
    border: 1px solid white;
    border-radius: 15px;
}

.imagem:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }

P{
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: initial;
}

h1{
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}