*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: black;
}

.tudo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}

.btn{
    border: none;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    color: rgb(255, 255, 255);
    margin: 1.5px;
    margin-bottom: 10px;
    border-radius: 1.5px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.btn2{
    border: none;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    color: rgb(0, 0, 0);
    margin: 1.5px;
    margin-bottom: 4px;
    border-radius: 1.5px;
    cursor: pointer;
}

.btn3{
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    color: rgb(0, 0, 0);
    margin: 1.5px;
    margin-bottom: 4px;
    border-radius: 1.5px;
    display: none;
    cursor: pointer;
    font-size: 30px;
}

h1{
    color: white;
}

p{
    color: white;
}

@media only screen and (max-width: 767px) {

    .btn3{
     display: block;
    }

     }